---
layout: page
title: Brandon M. Woo
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Brandon M. Woo</h1>
          <p class="animated fadeInUp"> Assistant Professor | UCSB | Psychological and Brain Sciences </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Me</h2>
            <p> Human beings are one of the most social and cooperative species on Earth. My research program asks how humans come to understand others' actions and minds, particularly in social contexts. Through studies of infants and toddlers, my research aims to reveal our early-emerging knowledge of other people and to characterize the developmental foundations of human learning, cooperation, and social life more broadly. </p>
            <p>I'm an assistant professor at the University of California, Santa Barbara (UCSB). I'm recruiting grad students this cycle, to start in fall 2025. If you're interested in getting involved, please see <a href="https://folk.psych.ucsb.edu/" target ="_blank">my lab's website</a> to find out more.</p>
            <p> Here's a recent <a href="https://docs.google.com/document/d/1pZLDCQOYtpdStK5QMvJWGHATt7hvVS2CKqP57ZN06e8/edit?usp=sharing" target="_blank">CV</a>. </p>  

            <span title = "Email"><a style="font-size:50px"; href="mailto: bmwoo@ucsb.edu" target="_blank"><ion-icon name="mail" style = "pointer-events:none"></ion-icon></a></span>
            
            <span title = "Google Scholar"><a style="font-size:50px"; href="https://scholar.google.com/citations?user=gE30Lw0AAAAJ&hl=en" target="_blank"><ion-icon name="school" style = "pointer-events:none"></ion-icon></a></span>

            <span title = "Blue Sky"><a style="font-size:50px"; href="https://bsky.app/profile/brandonmwoo.bsky.social" target="_blank"><ion-icon name="cloud"></ion-icon></a></span>
            
            <span title = "Twitter"><a style="font-size:50px"; href="https://twitter.com/brandonmwoo/" target="_blank"><ion-icon name="logo-twitter" style = "pointer-events:none"></ion-icon></a></span>

            <!-- <span title = "Mastodon"><a rel = "me"; style="font-size:50px"; href="https://fediscience.org/@brandonmwoo" target="_blank"><ion-icon name="logo-mastodon" style = "pointer-events:none"></ion-icon></a></span> -->

           <!-- <span title = "Open Science Framework"><a rel = "me"; style="font-size:50px"; href="https://osf.io/2wu95" target="_blank"><ion-icon name="archive" style = "pointer-events:none"></ion-icon></a></span> -->
            <!-- <a style="font-size:50px"; href="https://www.linkedin.com/in/brandon-matt-woo/" target="_blank" title = "LinkedIn"><ion-icon name="logo-linkedin"></ion-icon></a> -->
            
            <a href ="https://osf.io/2wu95" target = "_blank" title = "Open Science Framework"><img src="img/osf.png" width = "50" height = "44" style = "width:44px; padding-left:0px; vertical-align:top; margin-top:7px"></a>

            <h2>BACKGROUND</h2>
            <p>I was born, raised, and mostly educated on the West Coast of Canada.  I received my BSc in Psychology from the University of British Columbia (UBC). At UBC, I completed my senior undergraduate honors thesis with <a href="https://cic.psych.ubc.ca/people/principal-investigator/" target="_blank">Kiley Hamlin</a>, with whom I still collaborate.</p> 

            <p>My experiences at UBC inspired me to attempt to pursue a career in science. So, I applied to graduate studies, and I found myself working with <a href="https://www.harvardlds.org/our-labs/spelke-labspelke-lab-members/elizabeth-spelke/" target="_blank">Liz Spelke</a> at Harvard. I received my PhD in 2023. After graduating, I spent a year as a postdoctoral fellow working with <a href="https://www.ashleyjthomas.com/" target="_blank">Ashley Thomas</a>.

            <p>I'm committed to promoting diversity and inclusion in academia, and to mentoring students from all backgrounds. I'm a first-generation college graduate myself. I recognize the important roles that my own mentors have had in my education, and I know that I may not have considered pursuing a career in science if not for their support and encouragement.</p>

          </div>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block" style="text-align:right;">
          <img src="img/wrapper-img.jpg" alt="Img" class="myimg">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
<script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons.js"></script>
    </body>

<!-- <section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section> -->

<!-- Service Start -->
<!-- <section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Call to action Start -->
<!-- <section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Content Start -->
<!-- <section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->
